module.exports = {
  up: (queryInterface, Sequelize) => {
    return queryInterface.createTable('<%= pluralModelName.camelCase %>', {
      id: {
        allowNull: false,
        autoIncrement: true,
        primaryKey: true,
        type: Sequelize.INTEGER,
      },<% for (attributeName in modelAttibutes) { %>
      <%= attributeName %>: {
        type: Sequelize.<%- modelAttibutes[attributeName].migration %>,
      },<% } %>
      createdAt: {
        allowNull: false,
        type: Sequelize.DATE,
      },
      updatedAt: {
        allowNull: false,
        type: Sequelize.DATE,
      },
    });
  },
  down: (queryInterface) => {
    return queryInterface.dropTable('<%= pluralModelName.camelCase %>');
  },
};
