module.exports = (sequelize, DataTypes) => {
  /**
   * @typedef <%= modelName.camelCase %>
   * @property {integer} id<% for (attributeName in modelAttibutes) { %>
   * @property {<%- modelAttibutes[attributeName].swagger %>} <%= attributeName %><% } %>
   * @property {string} createdAt ISO format
   * @property {string} updatedAt ISO format
   */
  const <%= modelName.camelCase %> = sequelize.define(
    '<%= modelName.camelCase %>',
    {<% for (attributeName in modelAttibutes) { %>
      <%= attributeName %>: {
        type: DataTypes.<%- modelAttibutes[attributeName].model %>,
      },<% } %>
    },
    {}
  );
  <%= modelName.camelCase %>.associate = function() {
    // associations can be defined here
  };

  return <%= modelName.camelCase %>;
};
